/* @theme a4 */

@import "gaia";

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

section {
    width: 210mm;
    height: 297mm;
    font-size: 34px;
    text-align: justify;
    align-content: start;
    color: black;
    line-height: 1.5;
}

code {
    display: inline;
}

blockquote {
    background-color: rgb(208, 252, 237);
    font-size: 30px;
    line-height: 1.25;
}

small.pequeno {
    display: block;
    line-height: 1.25;
    font-size: 24px;
}

ul, ol {
    line-height: 1.25;
}