/* @theme book */

@import "default";

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

section {
    width: 210mm;
    height: 297mm;
    font-size: 24px;
    text-align: justify;
    align-content: start;
    color: black;
    line-height: 1.35;
}

code {
    display: inline;
}

blockquote {
    background-color: rgb(208, 252, 237);
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    color: black;
    border: 1px solid black;
}

small.pequeno {
    display: block;
    line-height: 1.25;
    font-size: 18px;
}

div.vocab {
    text-align: left;
    border: 1px solid black;
}

ul, ol {
    line-height: 1.25;
}

div.page {
    padding: 0;

    h2 {
        background-color: black;
        color: white;
        text-align: left;
        padding: 20px;
        width: fit-content;
        margin: 0;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    h3 {
        background-color: gray;
        text-align: left;
        padding: 20px;
        margin: 0;

        border-top-right-radius: 20px;
    }

    blockquote {
        margin: 0;
        background-color: gray;
        padding: 20px;
        text-align: left;

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 0;
    }
}